@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  overflow: hidden;
}

body {
  background: #F5F5F5;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.container p {
  font-size: 20px;
}

.container a {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #FF5252;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  top: 5px;
}

.container a:after {
  content: '';
  position: absolute;
  background: #FF5252;
  height: 2px;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  -webkit-transition: .35s ease;
  transition: .35s ease;
}

.container a:hover:after, .container a:focus:after, .container a:active:after {
  width: 100%;
}

h1 {
  position: relative;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.button_container:hover {
  opacity: .7;
}

.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}

.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}

.button_container span {
  background: #FF5252;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #FF5252;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}

.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Poppins', serif;
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 40px 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 1000;
}

header a {
  color: #ff6868;
}

header .name {
  font-family: 'Poppins';
  font-size: 2rem;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 1000;
}

@media screen and (max-width: 420px) {
  header .name {
    font-size: 1.4rem;
  }
}

header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 6.4rem;
}

@media screen and (max-width: 420px) {
  header .icons {
    display: none;
  }
}

header .icons a {
  display: block;
  margin-right: 20px;
  margin-top: -3px;
  font-size: 1.8rem;
  letter-spacing: 0.1em;
}

header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.scrollDown {
  position: fixed;
  font-size: 1rem;
  bottom: 80px;
  left: 40px;
  line-height: 1;
  letter-spacing: 0.3em;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  color: #fff;
  z-index: 100;
}

@media screen and (max-width: 420px) {
  .scrollDown {
    left: auto;
    right: 6.25%;
    font-size: 0.6rem;
    bottom: 40px;
  }
}

.scrollDown:after {
  content: "";
  width: 2px;
  height: 64px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -80px;
}

@media screen and (max-width: 420px) {
  .scrollDown:after {
    height: 32px;
    bottom: -40px;
  }
}

.fullpage__slide {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  color: #fff;
}

.movableBG {
  height: 100vh;
  background: url(../assets/img/bg-temp.png) no-repeat center center;
  background-size: cover;
}

.landing {
  background-size: cover;
  width: 100%;
  height: 100vh;
  background: transparent;
}

@media screen and (max-width: 420px) {
  #fp-nav ul {
    position: fixed !important;
    bottom: -350px !important;
    left: 160px !important;
    -webkit-transform: rotate(-90deg) !important;
            transform: rotate(-90deg) !important;
  }
  #fp-nav ul li {
    margin-bottom: 20px !important;
    margin-left: -30px !important;
  }
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
  height: 4px !important;
  width: 40px !important;
  border-radius: 10px !important;
}

#fp-nav ul li a span {
  border-radius: 10px !important;
  height: 4px !important;
  width: 20px !important;
  margin: 0 !important;
}

#fp-nav ul li:hover a span {
  margin: 0 !important;
}

.layer1 img {
  position: fixed;
  top: 20%;
  right: 10%;
  width: 60vh;
}

@media screen and (max-width: 420px) {
  .layer1 img {
    top: 20%;
    right: 20%;
    width: 30vh;
  }
}

.intro {
  font-weight: bolder;
  font-family: 'Poppins','Raleway';
}

.intro h1 {
  font-size: 4em;
  margin-left: 20%;
  text-align: left;
}

@media screen and (max-width: 420px) {
  .intro h1 {
    font-size: 3em;
    margin-left: 20%;
    margin-top: 70%;
  }
}

.intro .hello {
  font-size: 1.5em;
  margin-left: 40%;
}

.intro p {
  font-size: 2em;
  margin-left: 20%;
  text-align: left;
}

@media screen and (max-width: 420px) {
  .intro p {
    font-size: 1em;
    margin-left: 20%;
  }
}

@media screen and (max-width: 420px) {
  #fullpage {
    navigationPosition: 'bottom';
  }
}

.about-section {
  position: absolute;
  right: 2%;
  width: 50%;
}

.footer-social {
  color: #222020;
}

.hello-name {
  margin-left: 10%;
}

.about-section-left img {
  position: absolute;
  top: 20%;
  left: 15%;
  width: 60vh;
}

.about-section-right {
  position: absolute;
  right: 5%;
  width: 40vw;
}

.work-section-left img {
  position: absolute;
  top: 20%;
  right: 15%;
  width: 60vh;
}

.work-section-right {
  position: absolute;
  left: 6%;
  width: 40vw;
}
/*# sourceMappingURL=main.css.map */